<div class="box" id="title">
  <div class="content-box" id="title-box">
    <h1>teamGen</h1>
    <p>welcome to teamGen, the simple online team generator</p>
  </div>
</div>

<div class="box" id="form">
  <div class="content-box" id="form-box">
    <h1>who's playing?</h1>
    <p>- enter your players in the box below (and separate them all with commas)</p>
    <p>- click the generate button</p>
    <p>- play some football</p>
    <form method="post" action="/teams">
      <input id="player-input" type="text" placeholder="enter player names" name="players">
      <input id="generate-button" type="submit" value="generate">
    </form>
  </div>
</div>
