<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">
  <link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
</head>
<body>
  <div id="background">
  </div>
</body>
</html>
