<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</head>
<body>
  <div id="background">
    <div id="title-box">
      <div id="title">
        <h1>teamGen</h1>
        <p>welcome to teamGen, the simple online team generator</p>
      </div>
    </div>
  </div>
</body>
</html>
