<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css") %>">
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
</head>
<body>

  <div id="background">

    <h1>Team One</h1>
    <h1>Team Two</h1>

  </div>

</body>
</html>
