html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Hind', sans-serif;
}

body {
  width: 100%;
  display: inline-block;
  background-image: url("/images/stock_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

.box {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  margin-bottom: auto;
  margin-right: auto;
  display: block;
}

#title {
  min-height: 100px;
  margin-top: 50px;
  margin-left: 80px;
  max-width: 850px;
}

#form {
  max-width: 850px;
  min-height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 80px;
}

.content-box {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: 1em;
  display: inline-block;
  border-left: #3af5ff 5px solid;
  transition: 0.5s;
  padding-right: 2em;
  color: #fff;
  text-transform: lowercase;
}

.content-box:hover {
  border-left: #ff9400 5px solid;
}

.content-box h1, .content-box p {
  padding-left: 10px;
}

#title-box h1 {
  font-size: 5em;
  margin: 0px;
  display: block;
}

#title-box p {
  font-size: 2em;
  font-weight: 150;
  margin: 0px;
  display: block;
}

#form-box h1 {
  margin: 0px;
  font-size: 2.2em;
}

#form-box p {
  font-size: 1.5em;
  margin: 10px;
  display: block;
}

#player-input {
  display: block;
  width: 90%;
  height: 50px;
  font-size: 1.8em;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  background: #fff;
  color: #002a6d;
  border: none;
}

::-webkit-input-placeholder {
  font-family: 'Hind', sans-serif;
  color: #002a6d;
  transition: 300ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

#generate-button {
  display: block;
  width: 50%;
  height: 50px;
  font-size: 1.8em;
  text-align: center;
  border-radius: 25px;
  margin: auto;
  margin-top: 30px;
  color: #002a6d;
  background: #3af5ff;
  border: 2px #3af5ff solid;
  transition: 0.5s;
}

#generate-button:hover {
  color: #fff;
}

#team-one-wrapper {
  margin-top: 100px;
  margin-left: 8%;
  width: 30%;
  display: inline-block;
  text-align: center;
  min-width: 450px;
  margin-bottom: 50px;
}

#team-one-box {
  display: inline-block;
  float: left;
  padding-right: none;
  padding-left: 32px;
}

#team-two-wrapper {
  width: 30%;
  float: right;
  margin-right: 8%;
  margin-top: 100px;
  display: inline-block;
  clear: both;
  text-align: center;
  margin-bottom: 50px;
}

#team-two-box {
  border-left: none;
  border-right: #3af5ff 5px solid;
  margin-left: none;
  margin-right: 1em;
  transition: 0.5s;
  float: right;
  padding: none;
  min-width: 450px;
}

#team-two-box:hover {
  border-right: #ff9400 5px solid;
}

#team-one-box h1 {
  margin: 0px;
  font-size: 5em;
}

#team-two-box h1 {
  font-size: 5em;
  margin: 0px;
}

#team-one-box p, #team-two-box p {
  font-size: 3em;
  margin: 20px;
}

button {
  display: inline-block;
}
