html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Hind', sans-serif;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url("/images/stock_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
}

#title-box {
  width: 90%;
  max-width: 850px;
  min-height: 100px;
  background-color: rgba(0,0,0,0.6);
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: auto;
  margin-right: auto;
}

#title {
  color: #fff;
  margin: 0px;
  text-align: left;
  margin-left: 1em;
  border-left: #3af5ff 5px solid;
  transition: 0.5s;
}

#title:hover {
  border-left: #ff9400 5px solid;
}

#title h1 {
  font-size: 5em;
  font-weight: bold;
  margin: 0px;
  margin-top: 30px;
  padding-left: 10px;
}

#title p {
  font-size: 2em;
  font-weight: 150;
  margin: 0px;
  margin-bottom: 30px;
  padding-left: 10px;
}
